:root {
  --bg: #f7f7f8;
  --muted: #666;
  --accent: #0b84ff;
  --card: #fff;
}
body{
    font-family: 'Nyty', sans-serif;
    margin: 0;
}

* {
  box-sizing: border-box;
}
body,
html,
#root {
  height: 100%;
}
.App{
    >div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
#cv{
    margin: 15px auto;
    max-width: 1200px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 36px 20px;
}
h2 {
  font-size: 22px;
  margin-bottom: 12px;
  padding: 15px 20px;
  margin: 0;
}
#education{
    width: 100%;
    background-color: #334a55de;
    padding: 20px;
    height: 100%;
    margin: 15px auto;
    max-width: 1200px;
    border-radius: 5px;
    h2{
        padding-top: 0;
        color: #fff;
    }
    .content-education{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }
}
#skills{
    margin: 15px auto;
    max-width: 1200px;
}
#portfolio{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px auto;
    max-width: 1200px;
    padding: 20px;
}
