.skills{
  .sectionTitle {
      padding-bottom: 30px;
      h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 20px 0;
        position: relative;
        color: #26011c;
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 50px;
          height: 3px;
          background: #012626;
          bottom: 0;
          left: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .skillsContent{
      padding: 0em 0.75em;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
        .iconFab {
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 120px;
          max-width: 150px;
          width: 100%;
          > img {
            height: 10vh;
            margin: 1rem 3rem;
          }
          > p {
            color: #212529;
            margin-bottom: 0;
          }
        }
      }
    }
}




