.resume {
  .sectionTitle {
    padding-bottom: 30px;
    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      padding: 20px 0;
      position: relative;
      color: #26011c;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: #012626;
        bottom: 0;
        left: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 20px;
    .col{
      width: calc((100% / 2) - 10px);
      min-width: 360px;
      .resumeItem {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid #26011c;
        position: relative;
        h4 {
          line-height: 18px;
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          font-family: "Poppins", sans-serif;
          color: #26011c;
          margin-bottom: 10px;
        }
        h5 {
          font-size: 16px;
          background: #012626;
          color: #ffffff;
          padding: 5px 15px;
          display: inline-block;
          font-weight: 600;
          margin-bottom: 10px;
        }
        ul {
          padding-left: 20px;
          li {
            padding-bottom: 10px;
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 50px;
          left: -9px;
          top: 0;
          background: #fff;
          border: 2px solid #26011c;
        }
        p{
          color: #212529;
        }
      }
    }
  }
  .movilImg {
    position: absolute;
    right: 0;
    margin-top: -21%;
    width: 20vw;
    z-index: -10;
    opacity: 0.4;
    img {
      height: 100%;
    }
  }
  @media only screen and (max-width: 824px) {
    .row{
      .col{
        width: 100%;
      }
    }
  }
}

