// ==============================
// Sección CV
// ==============================
.cvcard {
  display: grid;
  gap: 10px;
  padding: 15px 20px;
  // Títulos de cada experiencia
  h3 {
    color: #111;         // negro para mayor peso
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    padding: 6px 10px;
    border-radius: 6px;
  }
  
  // Descripción
  p {
    color: #666; // gris estándar
    line-height: 1.4;
    margin: 0;
    padding: 5px 10px;
    
    // Primer párrafo dentro de cada card → más relevante
    &:first-of-type {
      width: max-content;
      background: #dddddd; // gris muy claro
      color: #333; // más oscuro para destacar
      font-weight: 500;
      border-radius: 5px;
    }

    // Último párrafo dentro de cada card → menos relevante
    &:last-of-type {
      color: #888; // más tenue
      font-size: 0.95rem;
    }
  }
  @media only screen and (max-width: 480px) {
    p{
      &:first-of-type {
        width: auto;
      }
    }
  }
}
