.card {
  width: calc((100% / 3) - 20px);
  background: #334a55de;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 8px 20px rgba(6,9,20,0.06);
  cursor: pointer;
  transition: transform 0.18s;
}

.card:hover {
  transform: translateY(-6px);
}

.thumb {
  height: 220px;
  border-radius: 8px;
  background: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

p {
  font-size: 14px;
  color: #bbb;
  margin-top: 6px;
}

@media only screen and (max-width: 960px) {
  .card{
    width: calc((100% / 2) - 20px);
  }
}
@media only screen and (max-width: 660px) {
  .card{
    width: 100%;
  }
}