// ==============================
// Sección CV
// ==============================
.EducationCard {
  display: grid;
  gap: 5px;
  padding: 15px 20px;
  width: calc((100% / 3) - 15px);
  background: #f2f2f2; // gris muy claro
  border-radius: 5px;
  align-items: start;

  // Títulos de cada experiencia
  h3 {
    color: #111; // negro para mayor peso
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    padding: 6px 0;
  }

  // Descripción
  p {
    color: #666; // gris estándar
    line-height: 1.4;
    margin: 0;

    // Primer párrafo dentro de cada card → más relevante
    &:first-of-type {
      width: max-content;
      background: #dddddd; // gris muy claro
      color: #333; // más oscuro para destacar
      font-weight: 500;
      border-radius: 5px;
      font-size: 0.8rem;
      padding: 5px 10px;
      margin: 0 0 10px;
    }

    // Último párrafo dentro de cada card → menos relevante
    &:last-of-type {
      color: #888; // más tenue
      font-size: 0.85rem;
    }
  }
  @media only screen and (max-width: 960px) {
    width: calc((100% / 2) - 15px);
  }
  @media only screen and (max-width: 960px) {
    width: 100%;
  }
}
